.row .promo {
    display: flex;
    justify-content: center;
    min-height: 100px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 2px 2px 2px rgba(230, 223, 223, 0.8);
    margin: 5px 5px;
    flex-direction: column;
}
.row .promo .title {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    font-size: 20px;
    font-weight: bold;
}
.row .promo .sub-title {
    display: flex;
    justify-content: center;
    color: springgreen;
    align-items: center;
}
.row .promo .price {
    display: flex;
    justify-content: center;
    color: blue;
    font-size: 25px;
    font-weight: bold;
}
.row .promo .line {
    border-bottom: 3px solid gray;
    margin: auto;
}
.row .promo .item {
    display: flex;
    justify-content: space-around;
    align-items: center;
}